* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../assets/jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg");
    height: 800px;
    background-size: cover;
    text-align: center;
}

.logo {
    color: white;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #F2AC32;
}

.header-title-1 {
    color: #F2AC32;
    font-size: 44px;
    font-family: 'Rochester', cursive;
    margin-top: 170px;
    margin-bottom: 15px;
}

.header-title-2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.header-cta-button {
    color: white;
    background: #F2AC32;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.header-cta-button:hover {
    background: rgb(196, 137, 36);
}

.search {
    margin-left: 20px;
    margin-right: 20px;
}

.my-bag {
    font-size: 24px;
}

/* Discover section */
.discover-section {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.food-border {
    position: relative;
    border: 2px solid #F2AC32;
}

.food-overlay {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 100px 10px 0 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
}

.food-item {
    height: 400px;
    width: 270px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.food-item p {
    color: rgb(99, 99, 99);
    font-size: 16px;
    margin-bottom: 20px;
}

.food-item a {
    font-size: 16px;
    text-decoration: none;
    color: #f2ac32;
    font-family: 'Oswald', sans-serif;
}

.discover-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
}

.discover-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.food-1 {
    background-image: url("../assets/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg");
    background-size: cover;
    margin-top: -30px;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
}

.food-2 {
    background-image: url("../assets/casey-lee-awj7sRviVXo-unsplash.jpg");
    background-size: cover;
    -webkit-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
}

/* Specialities Section */
.specialities-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/various-plates.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.specialities-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.specialities-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #fff;
    margin-bottom: 100px;
}

.specialities-middle {
    text-align: center;
    position: relative;
}

.specialities-row {
    display: flex;
    justify-content: center;
}

.specialities-col {
    width: 350px;
    margin-right: 20px;
    margin-left: 20px;
}

.specialities-image1,
.specialities-image2,
.specialities-image3 {
    width: 100%;
    height: 250px;
    background-size: cover;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
}

.specialities-image1 {
    background-image: url("../assets/breakfast.jpg");
}

.specialities-image1:hover .specialities-overlay,
.specialities-image2:hover .specialities-overlay,
.specialities-image3:hover .specialities-overlay {
    opacity: 1;
}

.specialities-image2 {
    background-image: url("../assets/lunch.jpg");
}

.specialities-image3 {
    background-image: url("../assets/dinner.jpg");
}

.specialities-h3 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.specialities-overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(242, 172, 50, 0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.specialities-overlay-border {
    border: 2px solid #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}

.specialities-middle:before {
    content: '';
    position: absolute;
    border-top: 100px solid #f0f0f0;
    border-right: 99vw solid transparent;
    top: -100px;
    left: 0;
}

.specialities-middle:after {
    content: '';
    position: absolute;
    border-bottom: 100px solid #f0f0f0;
    border-left: 99vw solid transparent;
    bottom: -100px;
    right: 0;
}

/* Special Menu Section */

.special-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}

.special-menu-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.special-menu-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.special-menu-h2 {
    color: #000;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.special-menu-h3 {
    width: 100%;
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
}

.special-menu-h4 {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.special-menu-p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 30px 20px;
    width: 100%;
}

.special-menu-col {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-large {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
}

.col-large-1,
.col-large-3 {
    background-color: #F2AC32;
    color: #fff;
}

.col-large-2,
.col-large-4 {
    background-size: cover;
}

.col-large-2
 {
    background-image: url("../assets/icecream.jpg");
}
.col-large-4 {
    background-image: url("../assets/kebab.jpg");
}

.fa-ice-cream,
.fa-utensils {
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

.separator,
.separator-orange {
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto;
}

.fa-hamburger {
    color: #f2ac32;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

.col-small {
    width: 50%;
    height: 225px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
}

.col-small-1,
.col-small-4 {
    background-color: #fff;
}

.col-small-2 {
    background-image: url("../assets/chickengrilled.jpg");
    background-size: cover;
    background-position: center;
}
.col-small-3 {
    background-image: url("../assets/sushi.jpg");
    background-size: cover;
    background-position: center;
}

.col-small-h3 {
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    color: #f2ac32;
}

.col-small-h4,
.col-small-h5 {
    width: 100%;
    color: #000;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
}

.col-small-h5 {
    color: #f2ac32;
    margin-top: 10px;
}

.separator-orange {
    border-bottom: 2px solid #f2ac32;
}

.arrow-right-large,
.arrow-right-small,
.arrow-left-small {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    right: -15px;
    top: 30px;
    z-index: 1;
}

.arrow-right-large {
    border-left: 15px solid #f2ac32;
}

.arrow-right-small {
    border-left: 15px solid #fff;
}

.arrow-left-small {
    border-right: 15px solid #fff;
    left: -15px;
}

/* Our menu section */
.our-menu-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/pancake.jpg");
    background-size: cover;
    text-align: center;
    padding: 150px 50px;
}

.our-menu-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.our-menu-h2 {
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.food-container {
    color: #fff;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25px;
}

.our-menu-row {
    display: flex;
    justify-content: center;
}

.our-menu-col {
    width: 335px;
    margin: 30px;
}

.food-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
}

.food-price {
    font-size: 25px;
    color: #f2ac32;
}

.food-ingredients {
    font-weight: 400;
    font-size: 14px;
}

.our-menu-button {
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 40px;
    transition: all 0.3s ease-in-out;
}

.our-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px 25px;
}

/* Booking table section */
.booking-table-section {
    padding: 100px;
    text-align: center;
    background-color: #f0f0f0;
}

.booking-table-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.booking-table-h2 {
    color: #000;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.booking-table-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.booking-div {
    background-color: #fff;
    margin: 30px 15px;
    font-family: 'Oswald', sans-serif;
}

.booking-icon {
    padding: 15px 20px;
    display: inline-block;
    border-right: 1px solid #f0f0f0;
}

.booking-data {
    padding-right: 20px;
    padding-left: 20px;
    /* font-size: 14px; */
}

.booking-cta {
    background-color: #f2ac32;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
}

/* FOOTER */

footer {
    padding: 60px 0px;
    padding-bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/buffet.jpg");
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
}

.footer-title {
    font-family: 'Oswald', sans-serif;
    color: #f2ac32;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-col {
    margin: 30px 60px;
}

.footer-text {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
}

.footer-newsletter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 230px;
}

.footer-email {
    padding: 10px 22px;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}

.footer-subscribe {
    display: inline-block;
    width: 100%;
    height: 45px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: #f2ac32;
    text-align: center;
    line-height: 45px;
}

.copyright {
    padding: 40px;
    padding-bottom: 15px;
    text-align: center;
    color: #f0f0f0;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid rgba(240, 240, 240, 0.425);
}

.copyright-name {
    color: #f2ac32;
}